# error log ignored
error_log

# XAMPP files ignored
# XAMPP configuration file ignored
db_configuration.php

## image files ignored for time being
# Uncomment the following lines to ignore image files
#  and not push them to the repository.
# *.PNG
# *.JPG
# *.JPEG
# *.GIF